body {
    margin: 0;
    font-family: 'Arial', serif;
}
#body{
    background-color: #FFFDD0;
}

#pageHeader{
    margin-top: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover {
    color: red;
}

.navbar a.active{
    color: red;
}

.dropbtn {
    border-radius: 50%;
    background-color: #dddddd;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.avatar {
    vertical-align: baseline;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
}

#editDiv {
    display: none;
}
#listDiv {
    z-index: 0;
}

.profile {
    vertical-align: baseline;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
}

.deleteButton, #cancelButton {
    background-color: indianred;
    margin-left: 10px;
}

#newButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0px;
}

.editButton {
    background-color: silver;
}

.ID{
    display: none;
}
#things a{
    text-decoration: none;
    color: black;
}
#things a:hover{
    color: green;
}

.show {display:block;}

/* This code is for the SignUp Form and the LogIn Form*/
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 45%;
    margin: 110px auto;
}

#signup, #login{
    width: 50%;
    background: white;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

#signup-form, #login-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;

}

.input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
}

.input:focus{
    border: 2px solid #34b3a0;
}

.btn{
    width: 100%;
    background: #34b3a0;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

span a{
    text-decoration: none;
    color: #000;
}

/* Code for the cards */
.polaroid {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.container {
    padding: 10px;
}

td {
    text-align: center;
}

th {
    font-size: 20px;
}

.floatRight {
    float: right;
}

/* Container holding the image and the text */
.container {
    width: 120px;
    height: 320px;
    float: left;
    margin: 3px;
    padding: 3px;
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width:100%;
    heigth: auto;
}
